@import '../abstracts/variables';
.tf-footer{
  background-color: $tf-dark-bg;
  padding: 25px 100px;

  hr{
    height: 1px;
  }

  .row, &__made-by{
    padding: 0 60px;
  }

  .navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;

    .nav-link{
      color: $tf-white;
      font-size: 20px;

      &:hover{
        color: $tf-blue;
      }
    }
  }
  @media(max-width: 780px){
    padding: 0;

    .row, &__made-by{
      padding: 0 10px;
    }

    .text-right{
      text-align: center !important;

      &.mb-4{
        margin-top: 30px;
      }
    }
  }
}