@import '../abstracts/variables';

.tf-nav{
  background-color: $tf-light-bg;
  padding: 25px 100px;
  
  .navbar-brand{
    img{
      height: 40px;
    }
  }

  .nav-item{
    .nav-link{
      color: $tf-black;
      font-size: 18px;
      font-weight: 500;
    }
    
    &.active{
      .nav-link{
        color: $tf-blue;
      }
    }
    
    &:hover{
      .nav-link{
        color: $tf-blue;
      }

    }
  }

  @media(max-width: 780px){
    padding: 20px;
  }
}