@import './variables';

body {
  background-color: $tf-dark-bg;
  color: $tf-white;
}

main{
  margin-top: 95px;
}

.container-fluid {
  max-width: 1260px;
  margin: auto;
}

.section {
  margin: 100px auto 0;
}

.tf-colors {
  &__text {
    &__white {
      color: $tf-white;
    }

    &__black {
      color: $tf-black;
    }
    
    &__blue {
      color: $tf-blue;
    }
  }

  &__bg {
    &__light-bg {
      background-color: $tf-light-bg;
    }

    &__dark-bg {
      background-color: $tf-dark-bg;
    }

    &__white {
      background-color: $tf-white;
    }

    &__blue {
      background-color: $tf-blue;
    }
  }
}

hr{
  width: 100%;
  height: 2px;
  background-color: $tf-white;
  margin: 50px 0;
}