@import '../abstracts/variables';

.tf-testimonials{
  width: 100%;

  .carousel-indicators{
    justify-content: left;
    margin-left: 0;
    li{
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &.active{
        background-color: $tf-blue;
      }
    }

    @media(max-width: 780px){
      top: 101%;
      justify-content: center;
      margin-left: 15%;
    }
  }

  &__title{
    margin-bottom: 20px;
  }

  &__text{
    font-size: 35px;
    width: 80%;
    margin-bottom: 40px;

    @media(max-width: 780px){
      width: 100%;
      font-size: 25px;
    }
  }

  &__name{
    font-size: 25px;
    margin: 0;

    @media(max-width: 780px){
      font-size: 20px;
    }
  }

  &__work{
    height: 20px;

    @media(max-width: 780px){
      margin-bottom: 20px;
      height: 18px;
    }
  }

  &__person-photo{
    width: 100%;
  }
}