@import '../abstracts/variables';

.tf-video{
  .col-md-6{
    p{
      width: 80%;
      line-height: 1.5;
    }
    .row{
      margin-top: 30px;
      p{
        width: 75%;
      }
    }
  }

  @media(max-width: 440px){
    iframe{
      margin-top: 30px;
    }
  }

  &__about{
    &__bg-img{
      width: 400px;
      height: 500px;
      background-image: url(../../assets/imgs/tf-about__tutorial.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 25px;

      
      p{
        position: absolute;
        bottom: 20px;
        width: 50%;
        margin: 0;
        line-height: 1.5;
      }

    }
    .modal-content{
      background-color: transparent!important;
    }
    
    .modal-body{
      .close{
        margin-bottom: 10px !important;
        span{
          color: $tf-white !important;
        }
      }
    }
    
    @media(max-width: 780px){
      width: 100%;
      text-align: center;
      
      h2{
        margin-top: 40px;
      }

      p{
        margin: 40px 0;
      }

      .btn{
        text-align: center;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
  
}